
@{
    ViewBag.Title = "AgregarTorneo";
}

<div class="row">
    <div class="col-sm-6">
        <h2>Agregar Torneo</h2>
        <form action="/Home/GuardarTorneo" method="post">
            <div>
                <p>Nombre del Torneo</p>
                <input name="nombre" type="text" class="form-control">
            </div>
            <div>
                <p>Jugadores/ Equipos</p>
                <select class="form-control" id="cantjdrs" name="cantjgdrs">
                    <option >Seleccionar Cantidad</option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="8">8</option>
                    <option value="16">16</option>
                </select>
            </div>
            <p></p><button type="submit" class="btn btn-primary btn-lg">Guardar</button>
        </form>
    </div>
</div>

@if (ViewBag.Guardar != null)
{
    <script type="text/javascript">alert("@ViewBag.Guardar");</script>
}
