@model List<TorneoTenis.Models.Jugador>
@{
    ViewBag.Title = "Jugadores";
}

<div class="col-sm-6">
    <div>
        <form>
            <h2>Agregar Jugadores</h2>
            <p>Jugador</p>
            <p><input type="text" class="form-control"></p>
            <div>
                <p>Grupo</p>
                <select class="form-control" id="cantjdrs" name="cantjgdrs">
                    <option>Seleccionar Grupo</option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="e">E</option>
                    <option value="f">F</option>
                    <option value="g">G</option>
                    <option value="h">H</option>
                </select>
            </div>
            <p><a class="btn btn-primary btn-lg">Agregar Jugador</a></p>
        </form>
    </div>
    <h3>Jugadores Agregados - Cantidad restante:</h3>
    <ul class="list-group">
        @foreach (TorneoTenis.Models.Jugador j in Model )
        {
            <li class="list-group-item">Jugador: @j.nombre Grupo: @j.grupo </li>
        }
    </ul>
</div>

