
@{
    ViewBag.Title = "Partidos";
}
<div class="row">
    <div class="col-sm-6">
        <h3>Partidos:</h3>
        <ul class="list-group">
            <li class="list-group-item">Nadal vs Federer</li>
            <li class="list-group-item">Del potro vs </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <h3>Agregar Partido:</h3>
        <div>
            <div style="float:left">
                <p>Jugador 1</p>
                <select class="form-control">
                    <option value="">Seleccionar Jugadores</option>
                </select>
            </div>
            <div>
                <p>Nombre del Torneo</p>
                <input type="text" class="form-control">
            </div>
        </div>
        <div>
            <div style="float:left">
                <p>Jugador 1</p>
                <select class="form-control">
                    <option value="">Seleccionar Jugadores</option>
                </select>
            </div>
            <div>
                <p>Nombre del Torneo</p>
                <input type="text" class="form-control">
            </div>
        </div>
        <p></p><a class="btn btn-primary btn-lg">Guardar</a>
    </div>
</div>


