@model List<TorneoTenis.Models.Torneo>
@{
    ViewBag.Title = "Torneos";
}

<div>
    @{
        foreach (TorneoTenis.Models.Torneo t in Model)
        {
         <div class="divtorneo0">
             <h1>@t.nombre</h1>
             <p class="lead">@t.cantjdrs jugadores/equipos</p>
             <p><button type="submit" onclick="location.href='/Home/TorneoMultiple'" class="btn btn-primary btn-lg" value="@t.nombre" name="nombre">Torneo</button></p>
         </div>
        };
    }
    <div class="divtorneo0">
        <p><button type="submit" onclick="location.href='/Home/AgregarTorneo'" name="btnaddtorneo" class="btn btn-primary btn-lg">Agregar Torneo</button></p>
    </div>
</div>


