@model List<TorneoTenis.Models.Torneo>
@{
    ViewBag.Title = "Torneos";
}

<div>
    @{
        foreach (TorneoTenis.Models.Torneo t in Model)
        {
            @Html.Partial("_Torneo", t);
        };
    }
    <div class="divtorneo0">
        <p><button type="submit" onclick="location.href='/Home/AgregarTorneo'" name="btnaddtorneo" class="btn btn-primary btn-lg">Agregar Torneo</button></p>
    </div>
</div>


