@{
    ViewBag.Title = "Torneo";
}
<div class="alert alert-success" role="alert" style="margin-top:20px; text-align:center;">
    Ganador: Pedro
</div>
<div style="text-align:center">
<p><button type="submit" onclick="location.href='/Home/Partidos'" class="btn btn-primary btn-lg">Partidos</button></p>
<p><button type="submit" onclick="location.href='/Home/Jugadores'" class="btn btn-primary btn-lg">Jugadores</button></p>
</div>
<div class="row">
    <div class="bracket">
        <section class="round quarterfinals">
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>Uno</span></div>
                            <div class="participant"><span>Ocho</span></div>
                        </div>
                    </div>
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant"><span>Dos</span></div>
                            <div class="participant winner"><span>Siete</span></div>
                        </div>
                    </div>
                </div>
                <div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant"><span>Treis</span></div>
                            <div class="participant winner"><span>Seis</span></div>
                        </div>
                    </div>
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant"><span>Cuatro</span></div>
                            <div class="participant winner"><span>Cinco</span></div>
                        </div>
                    </div>
                </div>
                <div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>
            </div>
        </section>
        <section class="round semifinals">
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>Uno</span></div>
                            <div class="participant"><span>Dos</span></div>
                        </div>
                    </div>
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>Seis</span></div>
                            <div class="participant"><span>Cinco</span></div>
                        </div>
                    </div>
                </div>
                <div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>
            </div>
        </section>
        <section class="round finals">
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>Uno</span></div>
                            <div class="participant"><span>Seis</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="bracket">
        <section class="round quarterfinals">
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>Uno</span></div>
                            <div class="participant"><span>Ocho</span></div>
                        </div>
                    </div>
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant"><span>Dos</span></div>
                            <div class="participant winner"><span>Siete</span></div>
                        </div>
                    </div>
                </div>
                <div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant"><span>Treis</span></div>
                            <div class="participant winner"><span>Seis</span></div>
                        </div>
                    </div>
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant"><span>Cuatro</span></div>
                            <div class="participant winner"><span>Cinco</span></div>
                        </div>
                    </div>
                </div>
                <div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>
            </div>
        </section>
        <section class="round semifinals">
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>Uno</span></div>
                            <div class="participant"><span>Dos</span></div>
                        </div>
                    </div>
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>Seis</span></div>
                            <div class="participant"><span>Cinco</span></div>
                        </div>
                    </div>
                </div>
                <div class="connector">
                    <div class="merger"></div>
                    <div class="line"></div>
                </div>
            </div>
        </section>
        <section class="round finals">
            <div class="winners">
                <div class="matchups">
                    <div class="matchup">
                        <div class="participants">
                            <div class="participant winner"><span>Uno</span></div>
                            <div class="participant"><span>Seis</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>