@model TorneoTenis.Models.Usuario
@{
    ViewBag.Title = "TusDatos";
}
<h3>Tu Cuenta:</h3>
<ul class="list-group" style="width:50%">
    <li class="list-group-item">Nombre: @Model.nombre</li>
    <li class="list-group-item">Apellido: @Model.apellido</li>
    <li class="list-group-item">Email: @Model.email</li>
</ul>


