@model TorneoTenis.Models.Torneo
<div class="divtorneo0">
    <h1>@Model.nombre</h1>
    <p class="lead">@Model.cantjdrs jugadores/equipos</p>
    <p><button type="submit" onclick="location.href='/Home/Torneo'"  class="btn btn-primary btn-lg">Torneo</button></p>
</div>
