@model List<TorneoTenis.Models.Partido>
<div class="bracket">
    <section class="round finals">
        <div class="winners">
            <div class="matchups">
                <div class="matchup">
                    <div class="participants">
                        <div class="participant winner"><span>hola</span></div>
                        <div class="participant"><span>hola</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
