
@{
    ViewBag.Title = "AgregarTorneo";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="row">
    <div class="col-sm-6">
        <h2>Agregar Torneo</h2>
        <form action="/Torneos/AddTorneo" method="post">
            <div>
                <p>Nombre del Torneo</p>
                <input name="nombre" type="text" class="form-control" id="txtboxnomtorneo">
                <text class="hidden" style="color:red;" id="txtnombreinval1">Nombre invalido</text>
            </div>
            <div>
                <p>Jugadores/ Equipos</p>
                <select class="form-control" id="cantjdrs" name="cantjgdrs">
                    <option value="Seleccionar Cantidad">Seleccionar Cantidad</option>
                    @{
                        for (int i = 2; i <= 32; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
            </div>
            <p></p><button type="button" class="btn btn-secondary btn-lg" id="btnaddtorneo">Guardar</button>
        </form>
    </div>
</div>

@if (ViewBag.Guardar != null)
{
    <script type="text/javascript">alert("@ViewBag.Guardar");</script>
}

<script type="text/javascript">
    $(document).ready(function () {
        var $regexname = /^([a-zA-Z]{3,16})$/;
        $('#txtboxnomtorneo').on('keypress keydown keyup', validacion);
        $('#cantjdrs').on('change', validacion);
    });
    function validacion() {
        if (!$('#txtboxnomtorneo').val().match($regexname) || $('#cantjdrs').val() == "Seleccionar Cantidad") {
            if ($('#txtboxnomtorneo').val().match($regexname) == false) {
                $('#txtnombreinval1').removeClass('hidden');
                console.log("hola");
            }
            $('#btnaddtorneo').attr('type', 'button');
            $('#btnaddtorneo').removeClass('btn btn-primary');
            $('#btnaddtorneo').addClass('btn btn-secondary');

        }
        else {
            $('#txtnombreinval1').addClass('hidden');
            $('#btnaddtorneo').attr('type', 'submit');
            $('#btnaddtorneo').removeClass('btn btn-secondary');
            $('#btnaddtorneo').addClass('btn btn-primary');

        }
    }
</script>