@model List<TorneoTenis.Models.Torneo>
@{
    ViewBag.Title = "Torneos";
}

<div>
    @{
        foreach (TorneoTenis.Models.Torneo t in Model)
        {
    <div class="divtorneo0">
        <h1 style="text-overflow:ellipsis">@t.nombre</h1>
        <p class="lead">@t.cantjdrs jugadores/equipos</p>
        <button class="btn btn-primary btn-lg" onclick="location.href = '/Torneos/Torneo/'+@t.Id" value="@t.nombre" name="nombre">Abrir</button>
        <button class="btn btn-primary btn-danger" onclick="location.href = '/Torneos/DelTorneo/'+@t.Id" value="@t.nombre" name="nombre">Eliminar</button>
    </div>
        };
    }
    <div class="divtorneo0">
        <p><button type="submit" onclick="location.href='/Torneos/TorneoAdd'" name="btnaddtorneo" class="btn btn-primary btn-lg">Agregar Torneo</button></p>
    </div>
</div>

